:root {
  --btn-add-color: #f3a500;
  --btn-add-hover: #f6c052;
  --btn-rm-color: #b20000;
  --btn-rm-hover: #ca4c49;
  --table-color: #48aae6;
--white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
.container__table {
  border: 1px solid var(--table-color);
  margin: 55px;
}
.container__table tr td {
  width: 50px;
  height: 50px;
  border: 2px solid var(--white);
  background-color: var(--table-color);
}
.btn__rm,
.btn__add {
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
}
.btn__add:hover,
.btn__rm:hover {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.btn__add,
.btn__rm {
  color: var(--white);
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 37px;
}
.btn__rm {
  animation: rmBtnLostHover 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.btn__rm:hover {
  animation: rmBtnHover 0.5s;
  animation-fill-mode: forwards;
  opacity: 1;
}
.btn__add {
  animation: addBtnlostHover 0.5s;
  animation-fill-mode: forwards;
}
.btn__add:hover {
  animation: addBtnHover 0.5s;
  animation-fill-mode: forwards;
}
.btn__add-row {
  position: absolute;
  top: 60px;
  left: 287px;
}
.btn__add-col {
  position: absolute;
  top: 288px;
  left: 57px;
}
.btn__rm-row,
.btn__rm-col {
  position: absolute;
  top: 0;
}
.visible {
  opacity: 1;
}
@keyframes addBtnHover {
  from {
    background-color: var(--btn-add-color);
  }
  to {
    background-color: var(--btn-add-hover);
  }
}
@keyframes addBtnlostHover {
  from {
    background-color: var(--btn-add-hover);
  }
  to {
    background-color: var(--btn-add-color);
  }
}
@keyframes rmBtnHover {
  from {
    background-color: var(--btn-rm-color);
  }
  to {
    background-color: var(--btn-rm-hover);
  }
}
@keyframes rmBtnLostHover {
  from {
    background-color: var(--btn-rm-hover);
  }
  to {
    background-color: var(--btn-rm-color);
  }
}
